name: CI
on:
  push:
    branches:
    - main
    - renovate/*
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      skipBuild:
        description: 'Skip Build (deploy only)'
        required: true
        default: 'false'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      with:
        lfs: true

    - name: Build Docker images
      run: |
        echo "Building keypad-flasher docker"
        docker build -t "keypad-flasher" -f "Keypad.Flasher.Server/Dockerfile" .
      if: github.event.inputs.skipBuild != 'true'
        
    - name: Push Docker images
      run: |
        echo $GITHUB_TOKEN | docker login ghcr.io --username AmyJeanes --password-stdin
          echo "Deploying keypad-flasher"
          docker tag keypad-flasher ghcr.io/amyjeanes/keypad/keypad-flasher:latest
          docker push ghcr.io/amyjeanes/keypad/keypad-flasher:latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: github.ref == 'refs/heads/main' && github.event.inputs.skipBuild != 'true'
  deploy:
    if: github.ref == 'refs/heads/main'
    name: Deploy
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    
    - name: Connect to Kubernetes
      uses: AmyJeanes/Abyss-Infrastructure/.github/actions/connect-k8s@main
      with:
        kubeconfig: "${{ secrets.KUBECONFIG }}"
        hostname: "${{ vars.KUBERNETES_API_HOSTNAME }}"
        serviceTokenId: ${{ vars.CLOUDFLARE_TUNNEL_SERVICE_TOKEN_ID }}
        serviceTokenSecret: ${{ secrets.CLOUDFLARE_TUNNEL_SERVICE_TOKEN_SECRET }}
        
    - name: Install keypad flasher
      run: |
        helm upgrade --install --wait --atomic --debug \
          keypad-flasher ./keypad-flasher \
          --namespace default \
          --set host="${{ vars.HOST }}" \
          --set imagePullSecrets[0].name=github-registry
      working-directory: charts
        
    - name: Wait for certificate to be ready
      uses: AmyJeanes/Abyss-Infrastructure/.github/actions/wait-kube-certificate@main
      with:
        name: "keypad-flasher-tls"
    
    - name: Disconnect from Kubernetes
      if: always()
      uses: AmyJeanes/Abyss-Infrastructure/.github/actions/disconnect-k8s@main
